.header-content {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.header-skating p {
    margin-bottom: 0rem;
}

.image-caption > p {
    margin-bottom: 0rem;
}

.contact {
    text-align: center;
}

#skatingCarousel {
    margin-bottom: 4rem;
}

