.header-content {
    margin-left: 2rem;
}

.carousel-item {
    height: 30rem;
}

.carousel-item > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#skatingCarousel {
    margin-bottom: 4rem;
}

